.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  margin-top: 160px;
  max-width: 1380px;
  display: flex;
  flex-direction: column;
}

.product_info_box {
  display: flex;
}

.product_images {
  display: flex;
  padding: 8px;
  margin-right: 100px;
}

.product_brand {
  font-weight: 600;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 16px;
}

.product_name {
  font-weight: 400;
  font-size: 30px;
  margin-top: 0;
}
