.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  margin-top: 160px;
  max-width: 1380px;
  display: flex;
  flex-direction: column;
}

.cart_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.cart_wrapper {
  margin-top: 60px;
}

.cart_product {
  position: relative;
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

.cart_product_right {
  display: flex;
}

.cart_product::before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 1px;
  top: -20px;
  position: absolute;
  background-color: #e5e5e5;
}

.cart_description {
  display: flex;
  flex-direction: column;
}

.product_brand {
  font-size: 30px;
  line-height: 27px;
  font-weight: 600;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
}

.product_name {
  font-size: 30px;
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 12px;
  font-family: "Raleway", sans-serif;
}

.price_amount {
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  margin: 10px 0 12px 0;
  padding: 10px 0;
  font-family: "Raleway", sans-serif;
}

.product_attributes {
  display: flex;
}

.chosenAttr {
  border: 1px solid #1d1f22;
  width: 63px;
  height: 45px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #292929;
}

.cart_quantity {
  display: flex;
  margin-right: 12px;
  font-family: "Raleway", sans-serif;
}

.quantity_editor_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: space-between;
}

.btn_calculator {
  border: none;
  background-color: transparent;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.modal_cart.container {
  padding: 0;
}

.modal_cart .cart_product_left {
  margin-right: 26px;
}

.modal_cart .product_brand,
.modal_cart .product_name {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
  line-height: 25.6px;
  font-family: "Raleway", sans-serif;
}

.modal_cart .btn_calculator,
.modal_cart .btn_calculator img {
  height: 24px;
  width: 24px;
}

.modal_cart .product_price {
  margin-bottom: 27px;
}

.modal_cart .price_amount {
  font-size: 16px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 5px 0;
}

.modal_cart .chosenAttr {
  min-width: 24px;
  width: fit-content;
  height: 24px;
  padding: 2px;
  margin-right: 8px;
}

.modal_cart .cart_product::before {
  display: none;
}

.total_price {
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.total_price_amount {
  font-weight: 700;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  line-height: 25.6px;
}
