.options_wrapper {
  display: flex;
}

.attribute_name {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.option {
  border: 1px solid #1d1f22;
  width: 63px;
  height: 45px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #292929;
  cursor: pointer;
}

.option_box {
  margin-bottom: 10px;
}

.picked {
  background-color: #292929;
}

.attributes_form {
  position: relative;
}

