.options_wrapper {
  display: flex;
  align-items: center;
}

.attribute_name {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-family: "Roboto Condensed", sans-serif;
}

.option {
  border: 1px solid #1d1f22;
  width: 63px;
  height: 45px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #292929;
  cursor: pointer;
}

.option_box {
  margin-bottom: 10px;
}

.picked {
  background-color: #292929;
}

.attributes_form {
  position: relative;
}

input:checked + div.picked_text {
  background-color: #1d1f22;
  color: #ffffff;
}

input:checked + div.picked_swatch {
  border: 2px solid #d6cdcd;
}
