.modal_wrapper {
  background-color: rgba(53, 36, 36, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  overflow: scroll;
}
