.product_images_carousel {
  margin-right: 35px;
  max-height: 530px;
  width: 120px;
  overflow: auto;
}

.carousel_image {
  width: 90px;
  height: auto;
  cursor: pointer;
  margin-bottom: 30px;
}

.carousel_image img {
  width: 100%;
  height: 100%;
  padding: 2px;
}

.product_image_chosen {
  width: auto;
  height: 530px;
}

.product_image_chosen img {
  height: 100%;
}
